<div class="fixed bottom-3 left-1/2 z-50 w-[calc(100%-1.5rem)] max-w-[20rem] -translate-x-1/2 md:bottom-5 md:left-auto md:right-5 md:w-auto md:max-w-none md:translate-x-0">
  <a href="tel:+491777679185" class="emergency-button" aria-label="BSR Notdienst jetzt anrufen: 01777 679185">
    <span class="emergency-icon-wrap" aria-hidden="true">
      <span class="emergency-icon-ping"></span>
      <span class="emergency-icon">
        <i class="fas fa-phone-alt" aria-hidden="true"></i>
      </span>
    </span>

    <span class="emergency-copy">
      <span class="emergency-topline">
        <span class="emergency-badge">24/7</span>
        <span class="emergency-status">Direkt erreichbar</span>
      </span>
      <span class="emergency-title">Notdienst anrufen</span>
      <span class="emergency-number">01777 679185</span>
    </span>
  </a>
</div>
